<a href="https://colab.research.google.com/github/mayurkagathara/Python_Practice/blob/main/Student_Arrangement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
M, N = 10, 5 # Number of Students and Number of columns

In [35]:
# This cell takes input

list_of_students = []
while True:
  Student = input()
  
  if Student == '': #Stop on last enter
    break

  if len(list_of_students) == M:  #Check and stop if there are already 10 students
    print('INVALID INPUT')
    break
  else:
    if ('SY' in  Student or 'TY' in  Student) and (len(Student)==4):
      list_of_students.append(Student)
    else:

      print('INVALID INPUT')
      break

TY05
TY03
SY01
SY05
TY01
SY03
SY02

In [38]:
# To test the code we can take array
# list_of_students = ['TY01','TY02','SY01','SY05','SY04','TY03','SY02','TY04','SY03']

for n in range (1,N+1):
  TY_student = f'TY0{n}'
  SY_student = f'SY0{n}'

  student_1 = TY_student if TY_student in list_of_students else 'ABSENT'
  student_2 = SY_student if SY_student in list_of_students else 'ABSENT'

  print(f'[{student_1}][{student_2}]')

[TY01][SY01]
[ABSENT][SY02]
[TY03][SY03]
[ABSENT][ABSENT]
[TY05][SY05]

In [37]:
list_of_students

['TY05', 'TY03', 'SY01', 'SY05', 'TY01', 'SY03', 'SY02']