# Stencil for LSH assignment

This is a stencil for LSH assignment to help you understand the flow and code along.

If you like my work show some love by endorsing/reccomending me on Linkedin in python/datascience/management. [mayur-kagathara](https://www.linkedin.com/in/mayur-kagathara/)

## Reading the data from csv file

In [1]:
# Loading data from csv file
import pandas as pd
data_path = '/home/mayur/git/Pythonpractice/Python_Practice/UOH_AAIC/UOH_practice/Sem_1/Sub_2/Assignment/lsh_assignment_data.csv'

df = pd.read_csv(data_path)
df

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
...             ...                                                ...
2220            NaN  cars pull down us retail figures us retail sal...
2221            NaN  kilroy unveils immigration policy ex-chatshow ...
2222            NaN  rem announce new glasgow concert us band rem h...
2223            NaN  how political squabbles snowball it s become c...
2224            NaN  souness delight at euro progress boss graeme s...

[2225 rows x 2 columns]

In [2]:
# Data Overiview
df['category'].value_counts()

sport            509
business         508
politics         415
tech             399
entertainment    384
Name: category, dtype: int64

### Creating Train and Test Datasets

Note that the labels for test data will not be present in the dataset and hence they are mentioned as NaN.

In [3]:
# The last 10 rows in the csv file are query points, so loading them into test data.
# And loading the reamining points to train_data for which labels are given.

train_data = df.iloc[:-10,:]
test_data = df.iloc[-10:,:]

In [4]:
# For train_data here the labels are in the column named "category".
train_data

           category                                               text
0              tech  tv future in the hands of viewers with home th...
1          business  worldcom boss  left books alone  former worldc...
2             sport  tigers wary of farrell  gamble  leicester say ...
3             sport  yeading face newcastle in fa cup premiership s...
4     entertainment  ocean s twelve raids box office ocean s twelve...
...             ...                                                ...
2210       politics  teens  know little  of politics teenagers ques...
2211  entertainment  lopez misses uk charity premiere jennifer lope...
2212       business  christmas shoppers flock to tills shops all ov...
2213           tech  progress on new internet domains by early 2005...
2214       business  bush budget seeks deep cutbacks president bush...

[2215 rows x 2 columns]

In [5]:
test_data

     category                                               text
2215      NaN  junk e-mails on relentless rise spam traffic i...
2216      NaN  top stars join us tsunami tv show brad pitt  r...
2217      NaN  rings of steel combat net attacks gambling is ...
2218      NaN  davies favours gloucester future wales hooker ...
2219      NaN  beijingers fume over parking fees choking traf...
2220      NaN  cars pull down us retail figures us retail sal...
2221      NaN  kilroy unveils immigration policy ex-chatshow ...
2222      NaN  rem announce new glasgow concert us band rem h...
2223      NaN  how political squabbles snowball it s become c...
2224      NaN  souness delight at euro progress boss graeme s...

## Custom Implementation

In [6]:
#   1. Read in the train_data.
Xtrain, Ytrain = train_data['text'].copy(), train_data['category'].copy()
# print(Xtrain)
print(len(Xtrain))

2215

In [7]:
#   2. Vectorize train_data using sklearns built in tfidf vectorizer.
#   3. Ignore unigrams and make use of both **bigrams & trigrams** and 
# also limit the **max features** to **4000** and **minimum document frequency** to **10**.

tfidf_vectorizer = # initialize vectorizer with ngram_range = (2,3) and max_features=4000 and min_df=10
tfidf_vectorizer_fitted_model = # fit the vectorizer on Xtrain
X =  #transform the Xtrain data using fitted model
print('X.shape:  ',X.shape)

# OUTPUT -  
# X.shape:   (2215, 4000)

X.shape:   (2215, 4000)

In [8]:
import numpy as np
#   After the tfidf vectors are generated as mentioned above, next task is to generate random hyperplanes.
#   5. Generate **5 random hyperplanes**. And generate the hyperplanes using a random normal distribution 
#      with **mean zero and variance 1**. 
#   6. We have set the **numpy random seed to zero**, please do not change it. 
#     And then you can make use of **np.random.normal** to generate the vectors for hyperplanes.
np.random.seed(0)

hyperplanes = # Empty Array
for _ in range(5):

    hyperplane =  #generate hyperplane with normal distribution (0,1) of shape X.shape[1]
    hyperplanes.append(hyperplane)

hyperplanes = np.array(hyperplanes)
print('hyperplanes:  ',hyperplanes)

# OUTPUT - 
# hyperplanes:   [[ 1.76405235  0.40015721  0.97873798 ... -0.03057244  1.57708821
#   -0.8128021 ]
#  [ 0.61334917  1.84369998  0.27109098 ... -0.20273458 -0.25786648
#    0.07081452]
#  [ 0.99784476  0.26008072  0.92506562 ... -1.9974298  -0.03192091
#    0.22396576]
#  [ 0.94550839  0.42292354 -1.17568    ...  1.41938754  0.74710667
#   -0.10630249]
#  [-1.96265255 -0.83403203  1.99383675 ... -0.05725925 -1.05893126
#   -0.32652844]]

hyperplanes:   [[ 1.76405235  0.40015721  0.97873798 ... -0.03057244  1.57708821
  -0.8128021 ]
 [ 0.61334917  1.84369998  0.27109098 ... -0.20273458 -0.25786648
   0.07081452]
 [ 0.99784476  0.26008072  0.92506562 ... -1.9974298  -0.03192091
   0.22396576]
 [ 0.94550839  0.42292354 -1.17568    ...  1.41938754  0.74710667
  -0.10630249]
 [-1.96265255 -0.83403203  1.99383675 ... -0.05725925 -1.05893126
  -0.32652844]]

In [9]:
#   7. As mentioned in the course videos, compute the hash function and also the corresponding hash table for it.
def key_generator(x_vector):
    # print(x_vector.shape)
    #     By doing dot product we get array of key.
    #     If point is on positive half it key value is positive
    #     If point is on negative half it key value is negative

    dot_product_key_array = #Dot product between x_vector and hyperplanes.T
    # print(dot_product_key_array.shape)
    # dot_product_key_array is sparse matrix, So converting into the list

    dot_product_key_array = dot_product_key_array.tolist() # Convert sparse list to normal list

    key_list = []
    for val in dot_product_key_array[0]:
    #     if value in dot_product_key_array is positive add 1, if negative then 0 in key
        if val>0:
            key_list.append(1)
        else:
            key_list.append(0)

    key = tuple(key_list)
    return key

In [10]:
#let's create Hash_Table now
#empty dictionary hash_table with keys
import itertools
from itertools import product
keys = list(product([0,1], repeat=5))
hash_table = {k:[] for k in keys}

print(hash_table)
# OUTPUT - 
# {(0, 0, 0, 0, 0): [], (0, 0, 0, 0, 1): [], (0, 0, 0, 1, 0): [], (0, 0, 0, 1, 1): [], (0, 0, 1, 0, 0): [], (0, 0, 1, 0, 1): [], (0, 0, 1, 1, 0): [], (0, 0, 1, 1, 1): [], (0, 1, 0, 0, 0): [], (0, 1, 0, 0, 1): [], (0, 1, 0, 1, 0): [], (0, 1, 0, 1, 1): [], (0, 1, 1, 0, 0): [], (0, 1, 1, 0, 1): [], (0, 1, 1, 1, 0): [], (0, 1, 1, 1, 1): [], (1, 0, 0, 0, 0): [], (1, 0, 0, 0, 1): [], (1, 0, 0, 1, 0): [], (1, 0, 0, 1, 1): [], (1, 0, 1, 0, 0): [], (1, 0, 1, 0, 1): [], (1, 0, 1, 1, 0): [], (1, 0, 1, 1, 1): [], (1, 1, 0, 0, 0): [], (1, 1, 0, 0, 1): [], (1, 1, 0, 1, 0): [], (1, 1, 0, 1, 1): [], (1, 1, 1, 0, 0): [], (1, 1, 1, 0, 1): [], (1, 1, 1, 1, 0): [], (1, 1, 1, 1, 1): []}


index_of_sentence = 0
#   Let's generate hash_table usinng key_generator function
for point in X:
    key = #call function key_generator on point and get key
    hash_table[key].append(index_of_sentence)
    index_of_sentence += 1

{(0, 0, 0, 0, 0): [], (0, 0, 0, 0, 1): [], (0, 0, 0, 1, 0): [], (0, 0, 0, 1, 1): [], (0, 0, 1, 0, 0): [], (0, 0, 1, 0, 1): [], (0, 0, 1, 1, 0): [], (0, 0, 1, 1, 1): [], (0, 1, 0, 0, 0): [], (0, 1, 0, 0, 1): [], (0, 1, 0, 1, 0): [], (0, 1, 0, 1, 1): [], (0, 1, 1, 0, 0): [], (0, 1, 1, 0, 1): [], (0, 1, 1, 1, 0): [], (0, 1, 1, 1, 1): [], (1, 0, 0, 0, 0): [], (1, 0, 0, 0, 1): [], (1, 0, 0, 1, 0): [], (1, 0, 0, 1, 1): [], (1, 0, 1, 0, 0): [], (1, 0, 1, 0, 1): [], (1, 0, 1, 1, 0): [], (1, 0, 1, 1, 1): [], (1, 1, 0, 0, 0): [], (1, 1, 0, 0, 1): [], (1, 1, 0, 1, 0): [], (1, 1, 0, 1, 1): [], (1, 1, 1, 0, 0): [], (1, 1, 1, 0, 1): [], (1, 1, 1, 1, 0): [], (1, 1, 1, 1, 1): []}

In [11]:
#   8. Once the hash table is generated now take in each of the query points from the test data.
#   9. Vectorize those query points using the same tfidf vectorizer as mentioned above.
Xtest, Ytest = test_data['text'].copy(), test_data['category'].copy()

# Query points saved in Xq array
Xq = # use only transform on Xtest using tfidf_vectorizer_fitted_model
print('Xq.shape:  ',Xq.shape)

# OUTPUT - Xq.shape:   (10, 4000)

Xq.shape:   (10, 4000)

In [1]:
# let's get 11 nearest neighbors and take majority vote.
# in case of tie choose the top label after sorting alphabatically

labels = []
for query_point in Xq:
    query_point_key = #get key of query_point using key_generator
    all_neighbors_in_region = #get all neighbors from hash table using query_point_key from hash_table
    all_neighbors_in_region = np.array(all_neighbors_in_region)

    cosine_sim = []
    for neighbor in all_neighbors_in_region:
        cossim = #calculate cosine similarity using dot product between X[neighbor] and query_point.T
        cossim = cossim.todense().item()
        cosine_sim.append(cossim)

    nearest_11_neighbors = all_neighbors_in_region[np.argsort(cosine_sim)[::-1][:11]]
    top_11_labels = list(Ytrain[nearest_11_neighbors])
    top_label = max(sorted(top_11_labels), key = top_11_labels.count)
    labels.append(top_label)

#return labels

NameError: name 'Xq' is not defined

## Now compile everything in below function.

In [13]:
# Please implement this fucntion and write your code wherever asked. Do NOT change the code snippets provided by us.
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np

def predictLabels (test_data):
  """
  Given the test_data, return the labels for all the rows in the test data.
  Follow the step by step instructions mentioned above.
  """

  np.random.seed(0)

  ##############################################################
  ####  Write YOUR CODE BELOW  as per the above instructions ###
  ##############################################################

### Instructions:

  1. Read in the train_data.
  2. Vectorize train_data using sklearns built in tfidf vectorizer.
  3. Ignore unigrams and make use of both **bigrams & trigrams** and also limit the **max features** to **4000** and **minimum document frequency** to **10**.
  4. After the tfidf vectors are generated as mentioned above, next task is to generate random hyperplanes.
  5. Generate **5 random hyperplanes**. And generate the hyperplanes using a random normal distribution with **mean zero and variance 1**. 
  6. We have set the **numpy random seed to zero**, please do not change it. And then you can make use of **np.random.normal** to generate the vectors for hyperplanes.
  7. As mentioned in the course videos, compute the hash function and also the corresponding hash table for it.
  8. Once the hash table is generated now take in each of the query points from the test data.
  9. Vectorize those query points using the same tfidf vectorizer as mentioned above.
  10. Now use the hash function on this query point and fetch all the similar data points from the hashtable.
  11. Use cosine similarity to compute **11-Nearest Neighbours** from the list of data points obtained in the above step.
  12. Take a majority vote among the 11-Nearest Neighbours and predict the class label for the query point in the test data.
  13. **In case of a tie** in the obtained labels from nearest neighbours, you can pick a label after sorting all the labels **alphabetically**(A-Z), i.e. for example labels starting with A would get more preference than labels starting with Z.
  14. Repeat steps 9 to 13 for all the points in the test data and then finally return a list with all the predicted labels.
  15. Note that there are a total of 10 data points in the test data so the final list you return should be of length 10.
  16. Also note that the cosine similarity function should be written from scratch, you should not directly make use of existing libraries.
  17. Please use the formula of cosine similarity as explained in the course videos, you can make use of numpy or scipy to calculate dot or norm or transpose.

## Grader Cell

Please execute the following Grader cell to verify the correctness of your above implementation. This cell will print "Success" if your implmentation of the predictLabels() is correct, else, it will print "Failed". Make sure you get a "Success" before you submit the code in the classroom.

In [18]:
###########################################
## GRADER CELL: Do NOT Change this.
# This cell will print "Success" if your implmentation of the predictLabels() is correct and the accuracy obtained is above 80%.
# Else, it will print "Failed"
###########################################
import numpy as np

# Predict the labels using the predictLabels() function
# Y_custom = np.array(predictLabels(test_data))

# Reference grader array - DO NOT MODIFY IT
Y_grader = np.array(['tech', 'entertainment', 'tech', 'sport', 'business', 'business', 'politics', 'entertainment', 'politics', 'sport'])

# Calculating accuracy by comparing Y_grader and Y_custom
accuracy = np.sum(Y_grader==Y_custom) * 10

if accuracy >= 80:
  print("******** Success ********","Accuracy Achieved = ", accuracy,'%')
else:
  print("####### Failed #######","Accuracy Achieved = ", accuracy,'%')
  print("\nY_grader = \n\n", Y_grader)
  print("\n","*"*50)
  print("\nY_custom = \n\n", Y_custom)

ValueError: shape mismatch: objects cannot be broadcast to a single shape